p {
    text-align: justify;
    margin: 5px;
}

#body_id {
    background: url("/static/images/lynx.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.intro {
    position: relative;

}*/
.overlay {
    position:absolute;
    z-index:5;
    top: 100px;
    left: 200px;

}

#overlayimage {
    width: 50%;
}

.piechart1 {
    margin-left: 20px;
    margin-right: 20px;
}

piechart2 {
    margin-left: 20px;
    margin-right: 20px;
}

.piechart3 {
    margin-left: 20px;
    margin-right: 20px;
}

svg {
    text-align: center;
    margin: 0 auto;
}

#starttour {
    margin-left: 5px;
    background-color: orange;

}
/*.chart-wrapper {
    background-color: grey;
}*/

.dc-chart g.row text {
    fill: #333;
}



#country-bar-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
.chart-title {
    text-align: center;
}

.dc-chart .pie-slice {
    fill: black;
}
/*#number-projects-nd {
   font-size: 60px;
}
 
#total-donations-nd {
   font-size: 60px;
}*/
 
 
 
 
/*.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}*/
 
/*#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}
 
#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}
 
 
.dc-select-menu {
   background: #33CC99;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
 
}*/