p {
    text-align: justify;
    margin: 5px;
}


#body_id {
    background: url("/static/images/lynx.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.piechart1 {
    margin-left: 20px;
    margin-right: 20px;
}

piechart2 {
    margin-left: 20px;
    margin-right: 20px;
}

.piechart3 {
    margin-left: 20px;
    margin-right: 20px;
}

svg {
    text-align: center;
    margin: 0 auto;
}

#starttour {
    margin-left: 5px;
    background-color: orange;

}

.dc-chart g.row text {
    fill: #333;
}

#country-bar-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
.chart-title {
    text-align: center;
}

.dc-chart .pie-slice {
    fill: black;
}
 

.chart-stage {
      position: relative;
      font-size: 29px;
      vertical-align: middle;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 0px;
 }

.most-endangered > ul > li {
    text-align: justify;
    font-size: 15px;
}
.dc-select-menu {
   background: gray;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
 
}