p {
    text-align: justify;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
}

a {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
}

h4 {
    color: white;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Play', sans-serif;
}


#body_id {
    background: url("/static/images/rhino.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.chart-wrapper {
    background: rgba(0, 0, 0, 0.3);
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: scroll;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

svg {
    text-align: center;
    margin: 0 auto;
}

#starttour {
    margin-left: 5px;
    background-color: orange;

}

.dc-chart g.row text {
    fill: #333;
}

#country-bar-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
.chart-title {
    text-align: center;
}

.dc-chart .pie-slice {
    fill: black;
}
 

.chart-stage {
      position: relative;
      font-size: 29px;
      vertical-align: middle;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 0px;
 }

.most-endangered > ul > li {
    text-align: justify;
    font-size: 15px;
}
.dc-select-menu {
   background: gray;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
 
}

.pulse {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite

}

@-webkit-keyframes pulsate {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
 }