<!DOCTYPE html>
<html>

<head>
  <title>Threatened Animals Around The World</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
</head>

<body id="body_id" class="application">

  <!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Threatened Animals Around The World</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li><a href="graphs">Graphs</a></li>
      <li><a href="contact">Contact</a></li>

    </ul>
  </div>
</nav>
  
  <!-- Navbar -->

  <div class="col-sm-2 chart-wrapper info">
    <div class="chart-title">
        <h4>Navigation</h4>
    </div>
    <div class="chart-info">
        <button id="starttour">Start Tour</button>
        <button><a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a></button>

    </div>
    <div class="chart-title">
          <h4>Total Number of Known Species</h4>
    </div>
    <div class="chart-stage" style="background: #33CC99;
      position: relative;
      font-size: 29px;
      color: white;
      vertical-align: middle;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 0px;">
      <div id="number-species-nd"></div>
    </div>
    <div class="chart-title">
          <h4>Total Number of Threatened Species</h4>
    </div>
    <div class="chart-stage" style="background: #33CC99;
      position: relative;
      font-size: 29px;
      color: white;
      vertical-align: middle;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 0px;">
      <div id="number-threatened-nd"></div>
    </div>


    <div class="chart-title">
        <h4>Source</h4>
    </div> 
    <p> Source: Organisation for Economic Co-Operation and Development (OECD)</br> <a href="https://stats.oecd.org/Index.aspx?DataSetCode=WILD_LIFE#" target="_blank">Download Dataset Here</a>
    </p>
</div>


  <!-- Species Pie Chart -->
  <div class="col-sm-2 chart-wrapper piechart1">
      <div class="chart-title">
        <h4>Threatened Animals</h4>
      </div>
      <div class="chart-stage">
        <div id="species-pie-chart"></div>
      </div>
  </div>
  <!-- Species Pie Chart -->

  <!-- Categories Pie Chart -->
  <div class="col-sm-2 chart-wrapper piechart2">
      <div class="chart-title">
        <h4>Categories</h4>
      </div>
      <div class="chart-stage">
        <div id="categories-pie-chart"></div>
      </div>
  </div>
  <!-- Categories Pie Chart -->

  <!-- Indigenous Pie Chart -->
  <div class="col-sm-2 chart-wrapper piechart3">
      <div class="chart-title">
        <h4>Indigenous vs Alien</h4>
      </div>
      <div class="chart-stage">
        <div id="indig-pie-chart"></div>
      </div>
  </div>
  <!-- Indigenous Pie Chart -->


  <!-- Country Row Chart -->
  <div class="col-sm-3 chart-wrapper">
      <div class="chart-title">
        <h4>Countries</h4>
      </div>
      <div class="chart-stage">
        <div id="country-row-chart"></div>
      </div>
  </div>
  <!-- Country Row Chart -->

  <!-- Total Known Species -->
    <div class="col-sm-2">
      <div class="chart-wrapper">
        <div class="chart-title">
          Total Number of Known Species
        </div>
        <div class="chart-stage" style="background: #33CC99;
          position: relative;
          font-size: 29px;
          color: white;
          vertical-align: middle;
          text-align: center;
          padding-top: 12px;
          padding-bottom: 0px;">
          <div id="number-species-nd"></div>
        </div>
      </div>
    </div>
  <!-- Total Known Species -->

  <!-- Total Known Threatened Species -->

  <!-- Total Known Threatened Species -->
  
  </div>
 

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/script.js')}}"></script>

</body>
</html>