<!DOCTYPE html>
<html>

<head>
  <title>Threatened Animals Around The World</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
</head>

<body class="application">

  <!-- Navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Threatened Animals Around The World</a>
      </div>
    </div>
  </div>
  <!-- Navbar -->



          <!-- Species Pie Chart -->
          <div class="col-sm-3 col-sm-offset-1">
            <div class="chart-wrapper">
              <div class="chart-title">
                Threatened Animals
              </div>
              <div class="chart-stage">
                <div id="species-pie-chart"></div>
              </div>
            </div>
          </div>
          <!-- Species Pie Chart -->

          <!-- Categories Pie Chart -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Categories
              </div>
              <div class="chart-stage">
                <div id="categories-pie-chart"></div>
              </div>
            </div>
          </div>
          <!-- Categories Pie Chart -->

          <!-- Indigenous Pie Chart -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Indigenous vs Alien Animals
              </div>
              <div class="chart-stage">
                <div id="indig-pie-chart"></div>
              </div>
            </div>
          </div>
          <!-- Indigenous Pie Chart -->

          <!-- Country Bar Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Country Data
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Country Bar Chart -->

 
          

  <hr>

  <p class="small text-muted"> Data viz &#9829; from Code Institute</p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>
</html>