<!DOCTYPE html>
<html>

<head>
  <title>Threatened Animals Around The World</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>

<body class="application">

  <!-- Navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Threatened Animals Around The World</a>
      </div>
    </div>
  </div>
  
  <!-- Navbar -->

  <div class="col-sm-3 chart-wrapper info">
    <div class="chart-title">
      <h4>Information</h4>
      
    </div>
    <div class="chart-info">
      <p>Although scientists estimate that there could be upwards of 30 million animal species on the planet, a number of those species are teetering on the verge of extinction due to man’s thirst for consumption or entertainment. Hunted for meat, for fur, and for other materials governments around the world are cracking down on poaching and illegal hunting practices. Data on these threatened species across 40 countries are displayed here. </p>
    <div class="chart-title">
        <h4>Most Endangered Animals</h4>
    </div>   
          <ul>
            <li><a href="https://en.wikipedia.org/wiki/Northern_white_rhinoceros" target="_blank"> White Rhinoceros</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Baiji" target="_blank"> Baiji</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Mexican_wolf" target="_blank"> Mexican Wolf</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Spider_monkey" target="_blank"> Brown Spider Monkey</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Siamese_crocodile" target="_blank"> Siamese Crocodile</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Javan_rhinoceros" target="_blank"> Javan Rhinoceros</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Spix%27s_macaw" target="_blank"> Spix's Macaw</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Axolotl" target="_blank"> Axolotl</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Iberian_lynx" target="_blank"> Iberian Lynx</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Arakan_forest_turtle" target="_blank"> Arakan Forest Turtle</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Hawaiian_crow" target="_blank"> Hawaiian Crow</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Kakapo" target="_blank"> Kakapo</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Brazilian_merganser" target="_blank"> Brazilian Merganser</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Sumatran_rhinoceros" target="_blank"> Sumatran Rhinoceros</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Vaquita" target="_blank"> Vaquita</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Amur_leopard" target="_blank"> Amur Leopard</a></li>
            <li><a href="https://en.wikipedia.org/wiki/California_condor" target="_blank"> California Condor</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Philippine_eagle" target="_blank"> Philippine Eagle</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Mediterranean_monk_seal" target="_blank"> Mediterranean Monk Seal</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Catarina_pupfish" target="_blank"> Catarina Pupfish</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Bactrian_camel" target="_blank"> Bactrian Camel</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Island_fox" target="_blank"> Island Fox</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Mountain_gorilla" target="_blank"> Mountain Gorilla</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Hawaiian_monk_seal" target="_blank"> Hawaiian Monk Seal</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Baiji" target="_blank"> Addax</a></li>
          </ul>
    </div>
    <div class="chart-title">
        <h4>Source</h4>
    </div> 
    <p> Source: Organisation for Economic Co-Operation and Development (OECD)</br> <a href="https://stats.oecd.org/Index.aspx?DataSetCode=WILD_LIFE#" target="_blank">Download Dataset Here</a>
    </p>
    </div>


  <!-- Species Pie Chart -->
  <div class="col-sm-3 chart-wrapper" id="threatened-animals">
      <div class="chart-title">
        <h4>Threatened Animals</h4>
      </div>
      <div class="chart-stage">
        <div id="species-pie-chart"></div>
      </div>
  </div>
  <!-- Species Pie Chart -->

  <!-- Categories Pie Chart -->
  <div class="col-sm-3 chart-wrapper">
      <div class="chart-title">
        <h4>Categories</h4>
      </div>
      <div class="chart-stage">
        <div id="categories-pie-chart"></div>
      </div>
  </div>
  <!-- Categories Pie Chart -->

  <!-- Indigenous Pie Chart -->
  <div class="col-sm-3 chart-wrapper">
      <div class="chart-title">
        <h4>Indigenous vs Foreign Animals</h4>
      </div>
      <div class="chart-stage">
        <div id="indig-pie-chart"></div>
      </div>
  </div>
  <!-- Indigenous Pie Chart -->


  <!-- Country Bar Chart -->
  <div class="col-sm-9 chart-wrapper">
      <div class="chart-title">
        <h4>Country Data</h4>
      </div>
      <div class="chart-stage">
        <div id="country-bar-chart"></div>
      </div>
  </div>
  <!-- Country Bar Chart -->

  <button><a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a></button>

  </div>
 

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>
</html>