<!DOCTYPE html>
<html>

<head>
  <title>Threatened Animals Around The World</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
</head>

<body id="body_id" class="application">

  <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Threatened Animals Around The World</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="graphs">Graphs</a></li>
          <li><a href="contact">Contact</a></li>

        </ul>
      </div>
    </nav>
  <!-- /Navbar -->
  


  <div class="overlay chart-wrapper" id="overlayimage">
    <div class="chart-title">
        <h4>Information</h4>
    </div>
    <div class="chart-info">
    <p>Although scientists estimate that there could be upwards of 30 
    million animal species on the planet, a number of those species 
    are teetering on the verge of extinction due to man’s thirst for 
    consumption or entertainment. Hunted for meat, for fur, and for 
    other materials governments around the world are cracking down 
    on poaching and illegal hunting practices. Data on these threatened 
    species across 40 countries are displayed here.</p>
    </div>
  </div>

      <button><a href="graphs">SEE DATA ON THREATENED ANIMALS</a></div></body>



  

  
 

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/script.js')}}"></script>

</body>
</html>